.desayuno {
    display: flex;
    justify-content: center;
    &__container {
        width: 60%;
        background-color: #2c2e35;
        // height: 100vh;

        &__img {
            display: flex;
            justify-content: end;
            & img {
                position: absolute;
            }
        }
        &__list{
            color: white;
            margin-left: 8rem;
            margin-top: 14rem;
            font-size: 2rem;
        }
    }
}
.desayuno__logo{
    display: none;
}

@media (max-width: 1400px) {
    .desayuno {
        &__container {
            width: 100%;
        }
        
    }
    .desayuno__logo{
        display: flex;
        justify-content: end;
        margin-top: 1rem;
        & img {
            width: 200px;
        }
    }
    .desayuno__top{
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}